<?xml version="1.0" encoding="UTF-8" ?>   
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="dao.mappers.AddBlogMapper">
    
      <resultMap id="categoryList" type="dao.bean.manageblog.Category">
        <id column="category_id" property="catagoryId" />
        <result column="des" property="des" />
      </resultMap>
      
      <select id="getCategorys"  resultMap="categoryList" >
        select * from tb_category
    </select>
    
    </mapper>